/.idea/
/customers.csv
/customers.csv.sql
/darbu-aprite.sql
/darbuAprite.iml
/drop all tables.sql
/managers.csv
/managers.csv.sql
/mysql kveriji.rtf
/order querry.sql
/order query.sql
/orders.csv
/orders.csv.sql
